<!--<!DOCTYPE html>-->
<!--<html xmlns:ng="http://angularjs.org" ng-app="8800" ui-router-styles>-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
<!--&lt;!&ndash; Page &ndash;&gt;-->
    <!--<link href="../lib/public/css/style.css" rel="stylesheet"/>-->
    <!--<link href="../lib/public/css/inline-style.css" rel="stylesheet"/>-->
<!--</head>-->
<!--<body>-->
<!--<div ng-controller="auth">-->
    <!--<div ui-view></div>-->
<!--</div>-->

<!--Logo-->
<div class="container">
    <div class="header-top__info__item form-header-8800">
        <a href="https://8800.megafon.ru" class="logo header-top__logo" title="МегаФон"></a>
    </div>
</div>
<!--/Logo-->

<div class="auth" ui-init-comp-auth="" ui-init-theme="">

    <div class="auth__container auth__container_big auth__container--mod">
        <div class="auth-form__error__container">
            <div class="auth-form__error">
                <i class="auth-form__error-icon icon-information"></i>
                <h5 class="title-5">{{errorAuth}}</h5>
            </div>
        </div>
        <div class="auth__col auth__col_left g12-md-9">
            <section class="auth-form">
                <form class="auth-form__form" name="loginForm" ng-submit="login()" data-form>
                    <div class="auth-form__col g12-sm-6">
                        <div class="auth-form__title">Вход</div>
                        <div class="auth-form__description"></div>
                        <div class="form-block">
                            <div class="form-block__field">
                                <label for="login" class="form-block__label">Логин/Номер 8 800</label>
                                <input type="text"
                                       id="login"
                                       name="login"
                                       ng-model="auth.login"
                                       class="form-block__input"
                                       ng-pattern="/^7\d{10}$/"
                                       placeholder="7800......." required>
                                <!--<i class="icon-question-1 form-block__icon form-block__icon_question" data-question-btn></i>-->
                                <!--<div class="form-block__text-tooltip" >На&nbsp;Ваш телефон будет отправлено сообщение с&nbsp;информацией о&nbsp;том, поддерживает&nbsp;ли Ваша SIM-карта</div>-->
                            </div>
                        </div>
                        <div class="form-block ">
                            <div class="form-block__field">
                                <label for="password" class="form-block__label">Пароль</label>
                                <input type="password"
                                       id="password"
                                       class="form-block__input"
                                       ng-model="auth.password"
                                       placeholder="Введите пароль" data-password-input required>
                                <!--<i class="icon-invisible form-block__icon form-block__icon_active" data-password-btn></i>-->
                            </div>
                            <!--<a href="#" class="form-block__link link">Забыли пароль?</a>-->
                        </div>
                        <div class="form-block">
                            <ui-captcha src="/api/captcha" ui-model="captcha"></ui-captcha>
                        </div>
                        <button type="submit"
                                ng-disabled="loginForm.$invalid"
                                ng-class="(loginForm.$invalid) ? ['button', 'button_border-brand', 'button_disable'] : ['button']"
                                >Войти</button>
                    </div>

                    <div class="auth-form__col auth-form__col_big auth-form__col_right g12-sm-6" data-form-col>
                        <div class="auth-form__contacts">
                            <a href="#" ui-sref="home.main">
                                <div class="icon-8800 auth-form__ico"></div>
                                <div class="auth-form__phone">Бесплатный номер 8&nbsp;800</div>
                            </a>
                        </div>
                    </div>
                </form>

                <div class="theme">
                    <div class="theme__headline">
                        <div class="theme__header"> <h5 class="title-5">Как восстановить пароль?</h5></div>
                        <i class="theme__arrow icon-arrow-accordeon-bottom"></i>
                    </div>
                    <div class="theme__content">
                        <div class="instruction">
                            <div class="instruction__content">
                                <div class="instruction__steps instruction__steps--margin-b">
                                    <div class="instruction__step auth-block">
                                        <!--<div class="instruction__count-step">1</div>-->
                                        <!--<div class="instruction__step-content">&ndash; Обратитесь к своему персональному менеджеру<br> по телефону <a href="#">8-800-550-05-55</a></div>-->
                                        <div class="auth-block__first">
                                            <h5 class="title-5">– Обратитесь к своему персональному менеджеру<br> по телефону 8-800-550-05-55</h5>
                                        </div>
                                    </h5>
                                    <div class="instruction__step instruction__steps--margin-b">
                                        <!--<div class="instruction__count-step">2</div>-->
                                        <div class="auth-block__second">
                                            <h5 class="title-5">– Либо обратитесь в один из <a
                                                    href="http://www.megafon.ru/corporate/help/offices/">салонов обслуживания <br> корпоративных клиентов</a> МегаФон. </h5>
                                        </div>
                                        <!--<div class="instruction__step-content">– Либо обратитесь в один из <a-->
                                                <!--href="">салонов обслуживания <br> корпоративных клиентов</a> МегаФон. </div>-->
                                    </div>
                                </div>
                                <!--<a class="instruction__button-action button" href="#">Найдите ближайший салон связи</a>-->
                            </div>
                            <!--<div class="instruction__image-box">-->
                                <!--<img class="instruction__image" src="/images/iphone-background.jpg" alt="">-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>

</div>

<!--<script type="text/javascript" src="../lib/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="../lib/angular/angular.min.js"></script>-->
<!--<script type="text/javascript" src="../lib/angular/angular-translate.min.js"></script>-->
<!--<script type="text/javascript" src="../lib/angular/angular-translate-static.min.js"></script>-->
<!--<script type="text/javascript" src="../lib/angular/angular-animate.min.js"></script>-->
<!--<script type="text/javascript" src="../lib/angular/angular-resource-isarray.min.js"></script>-->
<!--<script type="text/javascript" src="../lib/angular/angular-ui-router.min.js"></script>-->
<!--<script type="text/javascript" src="../lib/zero-clipboard/ZeroClipboard.min.js"></script>-->
<!--<script type="text/javascript" src="../lib/angular/ng-clip.min.js"></script>-->
<!--<script type="text/javascript" src="../lib/ui-upload.js"></script>-->
<!--<script type="text/javascript" src="../lib/angular/angular-cookies.min.js"></script>-->
<!--<script type="text/javascript" src="../lib/angular/angular-sortable-view.min.js"></script>-->
<!--<script type="text/javascript" src="../lib/ui-mask/mask.js"></script>-->
<!--<script type="text/javascript" src="../lib/angular-ui-router-styles-master/ui-router-styles.js"></script>-->
<!--<script type="text/javascript" src="../js/app.js"></script>-->
<!--<script type="text/javascript" src="../js/controllers.js"></script>-->
<!--<script type="text/javascript" src="../js/filters.js"></script>-->
<!--<script type="text/javascript" src="../js/services.js"></script>-->
<!--<script type="text/javascript" src="../js/directives.js"></script>-->
<!--<script type="text/javascript" src="../js/ui.orm.js"></script>-->
<!--<script type="text/javascript" src="../lib/public/js/script.js"></script>-->
<!--<script type="text/javascript" src="../lib/public/js/inline-script.js"></script>-->

<!--<script type="text/javascript" src="../lib/angucomplete-alt.js"></script>-->

<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

<!--</body>-->
<!--</html>-->

<!--конец-->