<div ui-modal ng-form="blackForm">
    <header>
        <h3>{{'BLACK.ADD' | translate}}</h3>
        <i ng-click="cancel()" class="icon-close"></i>
    </header>
    <section>
        <div class="m15">
            <label style="width: 100%;" class="mb1">
                {{'NUMBER' | translate}}
                <input type="text" name="numberMask" ng-model="number.numberMask" ui-form-error placeholder="{{'BLACK.ENTER_NUM_PART' | translate}}" pattern="\d*\*?" minlength="2" maxlength="11" required />
            </label>
            <label style="width: 100%;" class="mb1">
                {{'DESCRIPTION' | translate}}
                <input type="text" placeholder="Введите описание" ng-model="number.description" />
            </label>
        </div>
    </section>
    <footer class="text-right">
        <a href="javascript: void(0);" ng-click="cancel()" class="dashed" translate>CANCEL</a> {{'OR' | translate}}
        <button ng-click="save()" ng-disabled="blackForm.$invalid" class="button active ml1" translate>SAVE</button>
    </footer>
</div>
<style type="text/css">
    body {overflow: hidden;}
</style>