<header class="clearfix">
    <a href="/" class="logo pull-left">8800 B2B-сервисы МегаФон</a>
    <div ui-combo class="combo-box field-icon left pull-right">
        <var>ООО Сибирское</var>
        <i class="icon-user"></i>
        <ul>
            <li data-value="1">ООО Сибирское</li>
            <li data-value="2">ООО Пятигорье</li>
        </ul>
    </div>
    <a href="/" class="pull-right">Вопросы и ответы</a>
    <a href="/" class="pull-right">Служба поддержки</a>
</header>
<nav class="main">
    <ul class="clearfix">
        <!--li><a href="#">Главная</a></li-->
        <li><a ui-sref="h.routing" ui-sref-active="active">Маршрутизация</a></li>
        <li><a ui-sref="h.operators" ui-sref-active="active">Операторы/Номера</a></li>
        <li><a ui-sref="h.categories" ui-sref-active="active">Категории вызовов</a></li>
        <li><a ui-sref="h.blacklist" ui-sref-active="active">Черный список</a></li>
        <li><a ui-sref="h.statistics" ui-sref-active="active">Статистика</a></li>
        <li><a ui-sref="h.settings" ui-sref-active="active">Настройки</a></li>
    </ul>
</nav>
<div ui-view>
</div>