<header class="js_load" ui-init-comp="">
    <!-- Topbar -->
    <!--/Topbar -->

    <!-- PageInner -->
    <div class="page__inner">

        <!-- mobile-menu -->
        <div class="mobile-menu">
            <div class="mobile-menu__group">
                <div class="mobile-menu__search">
                    <label class="search-block">
                        <input type="text" class="field" placeholder="Подключить">
                    </label>
                </div>
            </div>
            <div class="mobile-menu__group">
                <a href="#" class="mobile-menu__link">Возможности</a>
                <!--<a href="#" class="mobile-menu__link">Примеры применения</a>-->
                <a href="#" class="mobile-menu__link">Активация</a>
                <a href="#" class="mobile-menu__link">Рассчет</a>
                <a href="#" class="mobile-menu__link">Отзывы</a>
                <a href="#" class="mobile-menu__link">Вопросы и ответы</a>
            </div>
            <div class="mobile-menu__group">
                <a ui-sref="login" class="mobile-menu__link"><i class="icon-key-1 mobile-menu__icon"></i>Личный кабинет</a>
            </div>
        </div>
        <!--/mobile-menu -->

        <!-- cover -->
        <div class="cover cover_video">

            <!-- Header -->
            <div class="header">
                <div class="header__container container">
                    <div class="header-top">
                        <div class="header-top__info">
                            <div class="header-top__info__item">
                                <a href="#" class="logo header-top__logo"></a>
                            </div>
                            <div class="header-top__info__item i-hidden-phone">Бесплатный номер 8 800</div>
                        </div>
                        <div class="header-top__buttons">
                            <!--<form class="header-button header-search" action="#">-->
                            <!--<span class="header-button__body header-search__body">-->
                            <!--<input type="text" class="header-search__field" placeholder="Поиск по сайту">-->
                            <!--</span>-->
                            <!--<button class="icon-search header-button__icon header-search__icon"></button>-->
                            <!--</form>-->

                            <a ui-sref="login" class="header-button header-button_link">
                                <i class="icon-key-1 header-button__icon"></i>
                                <span class="header-button__body">Личный кабинет</span>
                            </a>
                            <!--<div class="header-button header-button_link hamburger i-visible-tablet">-->
                            <!--<div class="hamburger__icon">-->
                            <!--<div class="hamburger__line"></div>-->
                            <!--<div class="hamburger__line"></div>-->
                            <!--<div class="hamburger__line"></div>-->
                            <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                    <div class="header-menu">
                        <div class="header-menu__list">
                            <div class="header-menu__item">
                                <a href="#ability" class="header-menu__link">Возможности</a>
                            </div>
                            <!--<div class="header-menu__item">-->
                            <!--<a href="#special-ability" class="header-menu__link">Примеры применения</a>-->
                            <!--</div>-->
                            <div class="header-menu__item">
                                <a href="#tariff-table-new" class="header-menu__link">Тарифы и цены</a>
                            </div>
                            <div class="header-menu__item">
                                <a href="#faq-8800" class="header-menu__link">Вопросы и ответы</a>
                            </div>
                            <div class="header-menu__item">
                                <a href="#banner-action-8800" ui-sref="reservation.request" onclick="buttonReserv('TOP')" class="header-menu__link">Подобрать номер</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="open-header" class="header header_sticky" ui-init-header>
                <div class="header__container container">
                    <div class="header-top">
                        <div class="header-top__info">
                            <div class="header-top__info__item">
                                <a href="#" class="logo header-top__logo"></a>
                            </div>
                            <div class="header-top__info__item i-hidden-phone">Бесплатный номер 8 800</div>
                        </div>
                        <div class="header-top__buttons">
                            <!--<form class="header-button header-search" action="#">-->
                            <!--<span class="header-button__body header-search__body">-->
                            <!--<input type="text" class="header-search__field" placeholder="Поиск по сайту">-->
                            <!--</span>-->
                            <!--<button class="icon-search header-button__icon header-search__icon"></button>-->
                            <!--</form>-->

                            <a ui-sref="login" class="header-button header-button_link">
                                <i class="icon-key-1 header-button__icon"></i>
                                <span class="header-button__body">Личный кабинет</span>
                            </a>
                            <!--<div class="header-button header-button_link hamburger i-visible-tablet">-->
                            <!--<div class="hamburger__icon">-->
                            <!--<div class="hamburger__line"></div>-->
                            <!--<div class="hamburger__line"></div>-->
                            <!--<div class="hamburger__line"></div>-->
                            <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                    <div class="header-menu">
                        <div class="header-menu__list">
                            <div class="header-menu__item">
                                <a href="#ability" class="header-menu__link">Возможности</a>
                            </div>
                            <!--<div class="header-menu__item">-->
                            <!--<a href="#special-ability" class="header-menu__link">Примеры применения</a>-->
                            <!--</div>-->
                            <div class="header-menu__item">
                                <a href="#tariff-table-new" class="header-menu__link">Тарифы и цены</a>
                            </div>
                            <div class="header-menu__item">
                                <a href="#faq-8800" class="header-menu__link">Вопросы и ответы</a>
                            </div>
                            <div class="header-menu__item">
                                <a href="#banner-action-8800" ui-sref="reservation.request" onclick="buttonReserv('TOP')" class="header-menu__link">Подобрать номер</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/Header -->

            <style>
                .hidenBlock {
                    display: none;
                }
            </style>


            <div class="cover__video-box">

                <div id="cover__video-img" class="cover__video-img" style="background-image: url('../lib/public/images/main-cover.jpg');"></div>

                <!--<video class="cover__video" src="public/temp/SampleVideo.mp4" loop></video>-->
                <!--<video class="cover__video" src=""></video>-->

                <i id="modal-trigger" class="cover__play-button play-button cover__play-button_ready" style="top: -100px;"></i>
                <!--<div id="fp-overlay" data-swf="/lib/pleer/flowplayer.swf" data-swf-hls="/lib/pleer/flowplayerhls.swf" data-key="$512206430871778"></div>-->
                <!--&lt;!&ndash;<div id="fp-overlay" data-swf="/lib/pleer/flowplayer.swf" data-swf-hls="/lib/pleer/flowplayerhls.swf" data-key="$512206430871778"></div>&ndash;&gt;-->

            </div>

            <div class="cover__content">
                <div class="cover__connect connect">
                    <div class="promo-block-8800__title">С&nbsp;&laquo;8 800&raquo; бизнес малым не&nbsp;покажется</div>
                    <!--                        <div class="connect__service-info">Услуга «8 800» увеличит количество входящих обращений в вашу компанию. Потенциальные клиенты из любой точки РФ смогут бесплатно позвонить с городского или мобильного номера, чтобы уточнить необходимую информацию или сделать заказ.</div>-->
                    <h5 class="title-5 promo-block-880">Услуга «8 800» увеличит количество входящих обращений в вашу компанию. Потенциальные клиенты из любой точки РФ смогут бесплатно позвонить с городского или мобильного номера, чтобы уточнить необходимую информацию или сделать заказ.</h5>
                    <div class="connect__payment promo-block-880">
                        <div class="connect__sum-box">
                            <!--                                <span class="up">от</span> -->
                            <span class="connect__service-sum">1 500 <span class="rub">С</span></span>
                            <!--                                <span class="up">в месяц</span>-->
                        </div>
                        <!--                            <a class="connect__details-sum link" href="#">Подробнее о цене</a>-->
                    </div>
                    <div class="connect__button-box">
                        <a class="button connect__button promo-block-8800__button" href="#" onclick="buttonReserv('TOP')" ui-sref="reservation.request">{{'RESERVE_NUMBER' | translate}}</a>
                        <!--                            <a class="connect__button" href="#">Подобрать номер</a>-->
                    </div>
                </div>
            </div>

        </div>
        <!--/cover -->

    </div>
    <!--/PageInner -->

</header>

<!--separator-->
<div ng-include="'../lib/public/pages/separator-8800/code.php'"></div>
<!--separator-->

<!--to-do-->
<div ng-include="'../lib/public/pages/todo-8800/code.php'"></div>
<!--to-do-->

<!--ability-->
<div ng-include="'../lib/public/pages/ability-8800/color/code.php'"></div>
<!--ability-->

<!--ability-->
<!--<div ng-include="'../lib/public/pages/examples/code.php'"></div>-->
<!--<div ng-include="'../lib/public/pages/special-ability-8800/code.php'"></div>-->
<!--ability-->

<!--tariff-table-->
<div class="container">
    <div id="tariff-table-new" class="tariff-table-new" ui-init-table>
        <div class="tariff-table-8800--background">
            <h2 class="title-8800-2 title-8800--color-brand tariff-table-8800--h">Тариф «лёгкий старт»</h2>
            <div class="tariff-table-8800">
                <div class="tariff-table-8800__container resize_table-1">
                    <table id="table" class="tariff-table-8800__body tariff-table-8800__body_wrapper">
                        <tbody class="table-slide">
                            <tr class="tariff-table-8800__row tariff-table-8800__row_title">
                                <td class="tariff-table-8800__cell tariff-table-8800__cell_title tariff-table-8800__cell_name">Единоразовый платёж за подключние</td>
                                <td class="tariff-table-8800__cell tariff-table-8800__cell_title tariff-table-8800__cell--w">Стандартный</td>
                                <td class="tariff-table-8800__cell tariff-table-8800__cell_title tariff-table-8800__cell--w">Бронзовый</td>
                                <td class="tariff-table-8800__cell tariff-table-8800__cell_title tariff-table-8800__cell--w">Серебряный</td>
                            </tr>
                            <tr class="tariff-table-8800__row">
                                <td class="tariff-table-8800__cell tariff-table-8800__cell_name">Стоимость подключения номера 8 800</td>
                                <td class="tariff-table-8800__cell tariff-table-8800__cell--w">0 ₽</td>
                                <td class="tariff-table-8800__cell tariff-table-8800__cell--w">8 000 ₽</td>
                                <td class="tariff-table-8800__cell tariff-table-8800__cell--w">45 000 ₽</td>
                            </tr>
                        </tbody>
                    </table>
                    <h4 class="title-4 tariff-table-8800--h4">Стоимость звонков на номер 8 800:</h4>
                    <table id="table" class="tariff-table-8800__body tariff-table-8800__body_wrapper">
                        <tbody class="table-slide">
                            <tr class="tariff-table-8800__row tariff-table-8800__row_title">
                                <td class="tariff-table-8800__cell tariff-table-8800__cell_title tariff-table-8800__cell_name">Пакет минут на номер 8 800</td>
                                <td class="tariff-table-8800__cell tariff-table-8800__cell_title tariff-table-8800__cell--w">400</td>
                                <td class="tariff-table-8800__cell tariff-table-8800__cell_title tariff-table-8800__cell--w">600</td>
                                <td class="tariff-table-8800__cell tariff-table-8800__cell_title tariff-table-8800__cell--w">1 000</td>
                            </tr>
                            <tr class="tariff-table-8800__row">
                                <td class="tariff-table-8800__cell tariff-table-8800__cell_name">Стоимость пакета минут в месяц с учётом НДС</td>
                                <td class="tariff-table-8800__cell tariff-table-8800__cell--w">1 500 ₽</td>
                                <td class="tariff-table-8800__cell tariff-table-8800__cell--w">2 000 ₽</td>
                                <td class="tariff-table-8800__cell tariff-table-8800__cell--w">3 200 ₽</td>
                            </tr>
                            <tr class="tariff-table-8800__row">
                                <td class="tariff-table-8800__cell tariff-table-8800__cell_name">Стоимость вызовов на номер 8 800 сверх пакета минут, ₽/мин. с учётом НДС</td>
                                <td class="tariff-table-8800__cell tariff-table-8800__cell--w">3,8 ₽</td>
                                <td class="tariff-table-8800__cell tariff-table-8800__cell--w">3,5 ₽</td>
                                <td class="tariff-table-8800__cell tariff-table-8800__cell--w">3,3 ₽</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <div class="resize_table-2 hide">
                    <table id="table" class="tariff-table-8800__body tariff-table-8800__body_wrapper">
                        <tbody class="table-slide">
                            <tr class="tariff-table-8800__row tariff-table-8800__row_title">
                                <td class="tariff-table-8800__cell tariff-table-8800__cell_title tariff-table-8800__cell_name tariff-table-8800__cell--w">Тип номера</td>
                                <td class="tariff-table-8800__cell tariff-table-8800__cell_title tariff-table-8800__cell--w">Подключение</td>
                            </tr>
                            <tr class="tariff-table-8800__row">
                                <td class="tariff-table-8800__cell tariff-table-8800__cell_name tariff-table-8800__cell--w">Стандартный</td>
                                <td class="tariff-table-8800__cell tariff-table-8800__cell--w">0 ₽</td>
                            </tr>
                            <tr class="tariff-table-8800__row">
                                <td class="tariff-table-8800__cell tariff-table-8800__cell_name tariff-table-8800__cell--w">Бронзовый</td>
                                <td class="tariff-table-8800__cell tariff-table-8800__cell--w">8 000 ₽</td>
                            </tr>
                            <tr class="tariff-table-8800__row">
                                <td class="tariff-table-8800__cell tariff-table-8800__cell_name tariff-table-8800__cell--w">Серебряный</td>
                                <td class="tariff-table-8800__cell tariff-table-8800__cell--w">45 000 ₽</td>
                            </tr>
                        </tbody>
                    </table>
                    <h4 class="title-4 tariff-table-8800--h4">Стоимость звонков на номер 8 800:</h4>
                    <table id="table" class="tariff-table-8800__body tariff-table-8800__body_wrapper">
                        <tbody class="table-slide">
                            <tr class="tariff-table-8800__row tariff-table-8800__row_title">
                                <td class="tariff-table-8800__cell tariff-table-8800__cell_title tariff-table-8800__cell_name tariff-table-8800__cell--w">Пакет минут</td>
                                <td class="tariff-table-8800__cell tariff-table-8800__cell_title tariff-table-8800__cell--w">400</td>
                            </tr>
                            <tr class="tariff-table-8800__row">
                                <td class="tariff-table-8800__cell tariff-table-8800__cell_name">Стоимость пакета минут в месяц с учётом НДС</td>
                                <td class="tariff-table-8800__cell tariff-table-8800__cell--w">1 500 ₽</td>
                            </tr>
                            <tr class="tariff-table-8800__row">
                                <td class="tariff-table-8800__cell tariff-table-8800__cell_name">Стоимость вызовов на номер 8 800 сверх пакета минут, ₽/мин. с учётом НДС</td>
                                <td class="tariff-table-8800__cell tariff-table-8800__cell--w">3,8 ₽</td>
                            </tr>
                            <tr class="tariff-table-8800__row tariff-table-8800__row_title">
                                <td class="tariff-table-8800__cell tariff-table-8800__cell_title tariff-table-8800__cell_name tariff-table-8800__cell--w">Пакет минут</td>
                                <td class="tariff-table-8800__cell tariff-table-8800__cell_title tariff-table-8800__cell--w">600</td>
                            </tr>
                            <tr class="tariff-table-8800__row">
                                <td class="tariff-table-8800__cell tariff-table-8800__cell_name">Стоимость пакета минут в месяц с учётом НДС</td>
                                <td class="tariff-table-8800__cell tariff-table-8800__cell--w">2 000 ₽</td>
                            </tr>
                            <tr class="tariff-table-8800__row">
                                <td class="tariff-table-8800__cell tariff-table-8800__cell_name">Стоимость вызовов на номер 8 800 сверх пакета минут, ₽/мин. с учётом НДС</td>
                                <td class="tariff-table-8800__cell tariff-table-8800__cell--w">3,5 ₽</td>
                            </tr>
                            <tr class="tariff-table-8800__row tariff-table-8800__row_title">
                                <td class="tariff-table-8800__cell tariff-table-8800__cell_title tariff-table-8800__cell_name tariff-table-8800__cell--w">Пакет минут</td>
                                <td class="tariff-table-8800__cell tariff-table-8800__cell_title tariff-table-8800__cell--w">1000</td>
                            </tr>
                            <tr class="tariff-table-8800__row">
                                <td class="tariff-table-8800__cell tariff-table-8800__cell_name">Стоимость пакета минут в месяц с учётом НДС</td>
                                <td class="tariff-table-8800__cell tariff-table-8800__cell--w">3 200 ₽</td>
                            </tr>
                            <tr class="tariff-table-8800__row">
                                <td class="tariff-table-8800__cell tariff-table-8800__cell_name">Стоимость вызовов на номер 8 800 сверх пакета минут, ₽/мин. с учётом НДС</td>
                                <td class="tariff-table-8800__cell tariff-table-8800__cell--w">3,3 ₽</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<!--tariff-table-->

<!--documents-->
<div ng-include="'../lib/public/pages/documents-8800/code.php'"></div>
<!--documents-->

<!--separator-->
<div ng-include="'../lib/public/pages/separator-8800/code.php'"></div>
<!--separator-->

<!--special-rates-->
<div ng-include="'../lib/public/pages/special-rates-8800/code.php'"></div>
<!--special-rates-->

<!--separator-->
<div ng-include="'../lib/public/pages/separator-8800/code.php'"></div>
<!--separator-->

<!--faq-->
<div class="container">
    <div id="faq-8800" class="faq-8800">
        <div class="faq__headline">
            <h2 class="faq__title title-8800-2 title-8800--color-brand">Часто <br>задаваемые вопросы</h2>
        </div>
        <div class="questions">
            <section class="theme" ui-init-theme>
                <div class="theme__headline">
                    <div class="theme__header title-5">Можно ли использовать услугу «8–800», чтобы организовать круглосуточный колл-центр?</div>
                    <i class="theme__arrow icon-arrow-accordeon-bottom"></i>
                </div>
                <div class="theme__content">
                    <div class="question question_ope question_open">
                        <p>Да. Ваш номер «8–800» можно настроить для круглосуточной работы нескольких операторов и&nbsp;при необходимости организовать сеть для приёма звонков из&nbsp;разных регионов.</p>
                    </div>
                </div>
            </section>
            <section class="theme" ui-init-theme>
                <div class="theme__headline">
                    <div class="theme__header title-5">С каких номеров пользователи смогут звонить на этот номер?</div>
                    <i class="theme__arrow icon-arrow-accordeon-bottom"></i>
                </div>
                <div class="theme__content">
                    <div class="question question_ope question_open">
                        <p>С&nbsp;мобильных номеров всех российских операторов и&nbsp;городских телефонов всех регионов России. Звонки на&nbsp;номер с&nbsp;кодом 8–800&nbsp;бесплатны. Для сервисов голосовой связи через интернет (например, Skype) звонки на&nbsp;8–800&nbsp;недоступны.</p>
                    </div>
                </div>
            </section>
            <section class="theme" ui-init-theme>
                <div class="theme__headline">
                    <div class="theme__header title-5">Можно ли заказать номер на определённый срок, а потом отключить услугу?</div>
                    <i class="theme__arrow icon-arrow-accordeon-bottom"></i>
                </div>
                <div class="theme__content">
                    <div class="question question_ope question_open">
                        <p>Да. Вы&nbsp;можете подключить услугу на&nbsp;любой необходимый период. Например, на&nbsp;время проведения маркетинговой кампании.</p>
                    </div>
                </div>
            </section>
            <section class="theme" ui-init-theme>
                <div class="theme__headline">
                    <div class="theme__header title-5">Как подключить Личный кабинет услуги?</div>
                    <i class="theme__arrow icon-arrow-accordeon-bottom"></i>
                </div>
                <div class="theme__content">
                    <div class="question question_ope question_open">
                        <p>Для подключения Личного кабинета необходимо заполнить заявление и&nbsp;передать его в&nbsp;МегаФон. Пароль и&nbsp;логин для доступа к&nbsp;Личному кабинету будут высланы вам по&nbsp;указанным в&nbsp;заявлении контактным данным.</p>
                    </div>
                </div>
            </section>
            <section class="theme" ui-init-theme>
                <div class="theme__headline">
                    <div class="theme__header title-5">Как забронировать номер на сайте?</div>
                    <i class="theme__arrow icon-arrow-accordeon-bottom"></i>
                </div>
                <div class="theme__content">
                    <div class="question question_ope question_open">
                        <p><a href="https://8800.megafon.ru/#/reservation">Подберите номер</a> по&nbsp;категории либо по&nbsp;цифрам, которые должны содержаться в&nbsp;номере. Поставьте галочку напротив понравившегося номера и&nbsp;нажмите кнопку «Забронировать».
                            В&nbsp;открывшейся форме укажите своё имя и&nbsp;номер мобильного телефона. Вам придёт SMS с&nbsp;проверочным кодом. Введите этот код в&nbsp;системе бронирования номеров и&nbsp;выберите форму заключения договора: электронная
                            (см. «Как подключить услугу «8&nbsp;800» онлайн?») или бумажная. Нажмите кнопку «Забронировать» и&nbsp;получите SMS с&nbsp;подтверждением брони номера.</p>
                        <p>Для заключения договора в&nbsp;бумажной форме укажите контакты: название организации, ИНН, e-mail и&nbsp;регион&nbsp;РФ, в&nbsp;котором заключается договор. После отправки заполненной формы вам придёт SMS с&nbsp;подтверждением
                            брони номера.</p>
                    </div>
                </div>
            </section>
            <section class="theme" ui-init-theme>
                <div class="theme__headline">
                    <div class="theme__header title-5">На какой срок бронируется номер на сайте?</div>
                    <i class="theme__arrow icon-arrow-accordeon-bottom"></i>
                </div>
                <div class="theme__content">
                    <div class="question question_ope question_open">
                        <p>Срок бронирования&nbsp;— 20&nbsp;календарных дней. Дата окончания брони указывается в&nbsp;SMS.</p>
                    </div>
                </div>
            </section>
            <section class="theme" ui-init-theme>
                <div class="theme__headline">
                    <div class="theme__header title-5">Как подключить услугу «8 800» онлайн?</div>
                    <i class="theme__arrow icon-arrow-accordeon-bottom"></i>
                </div>
                <div class="theme__content">
                    <div class="question question_ope question_open">
                        <p>Если у&nbsp;вашей организации есть электронная цифровая подпись (ЭЦП), вы&nbsp;можете подключить услугу «8&nbsp;800» с&nbsp;тарифом «Лёгкий старт» 400 минут онлайн.</p>

                        <ul class="marked-list">
                            <li>Подберите подходящий стандартный номер 8&nbsp;800 и&nbsp;забронируйте его;</li>
                            <li>Выберите электронную форму заключения договора;</li>
                            <li>Перейдите в&nbsp;«Электронный документооборот» и&nbsp;активируйте свою ЭЦП;</li>
                            <li>Укажите номер для переадресации звонков с&nbsp;8&nbsp;800;</li>
                            <li>Система сама составит договор, спецификацию и&nbsp;бланк заказа, которые необходимо подписать ЭЦП;</li>
                            <li>Специалист МегаФона проверит документы и&nbsp;активирует номер 8&nbsp;800;</li>
                            <li>Разместите новый номер на&nbsp;сайте и&nbsp;принимайте звонки.</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="theme" ui-init-theme>
                <div class="theme__headline">
                    <div class="theme__header title-5">Что такое дополнительный короткий номер и для чего он нужен?</div>
                    <i class="theme__arrow icon-arrow-accordeon-bottom"></i>
                </div>
                <div class="theme__content">
                    <div class="question question_ope question_open">
                        <div class="question__content">
                            <p>Дополнительный короткий номер состоит из&nbsp;трёх-пяти цифр. На&nbsp;этот номер могут позвонить мобильные абоненты МегаФон всей РФ. Звонки на&nbsp;короткий номер бесплатные. Короткий номер проще запомнить, чем «обычный» телефонный
                                номер. Поэтому эти номера используют в&nbsp;рекламных целях: размещают на&nbsp;баннерах и&nbsp;билбордах, в&nbsp;ТВ-рекламе и&nbsp;на&nbsp;радио. Также короткие номера используют в&nbsp;качестве контактных для обращения
                                в&nbsp;клиентские службы и&nbsp;службы поддержки, например, номер <a href="tel:900">900</a> Сбербанк, номер <a href="tel:0530">0530</a> Росгосстрах.</p>
                            <br>
                            <p>Используйте в&nbsp;своих коммуникациях с&nbsp;клиентами короткий номер для мобильных абонентов, а&nbsp;номер «8&nbsp;800»&nbsp;— для приёма звонков с&nbsp;городских номеров. Мы&nbsp;можем подобрать короткий номер, который будет
                                соответствовать окончанию вашего номера «8&nbsp;800». Например, у&nbsp;нашей клиентской службы два номера: длинный <a href="tel:8-800-550-05-55">8-800-550-05-55</a> и&nbsp;короткий <a href="tel:0555">0555</a>.</p>
                            <br>
                            <p>Короткий номер является дополнительной платной опцией услуги «Бесплатный номер 8&nbsp;800». Стоимость соединений от&nbsp;пользователей оплачивает владелец номера. Логика обработки входящих звонков на&nbsp;короткий номер может
                                быть такой&nbsp;же, что и&nbsp;для номера «8&nbsp;800». Для того, чтобы на&nbsp;короткий номер могли позвонить мобильные абоненты других операторов мобильной связи, необходимо дополнительно заключить с&nbsp;ними договоры.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!--<div ng-include="'../lib/public/pages/faq-8800/code.php'"></div>-->
<!--faq-->

<!--separator-->
<div ng-include="'../lib/public/pages/separator-8800/code.php'"></div>
<!--separator-->

<!--call-to-action-->
<div ng-include="'../lib/public/pages/call-to-action-8800/code.php'"></div>
<!--call-to-action-->

<!--footer-->
<div ng-include="'../lib/public/pages/footer-8800/code.php'"></div>
<!--footer-->


<script>
    function buttonReserv(name) {
        var dataLayer = window.dataLayer || [];

        name = name ? name : 'TOP';

        var param = name + ' / Подобрать номер';

        dataLayer.push({
            'event': 'addEvents_makeActions',
            'event_id': 'd-v37-e1',
            'event_cat': 'Elements',
            'event_name': 'clickElement',
            'event_param': param
        });
    }
</script>

<!--footer-->
<div class="container container-sticky">
    <div class="footer-sticky" ui-sticky="">
        <div class="footer-sticky__info">
            <div class="footer-sticky__info__item-support">
                <!--<i class="form-body-8800__icon-support footer-sticky__support"></i>-->
            </div>
            <div class="footer-sticky__info__item-menu">
                <span class="footer-sticky__name"><a href="#tariff-table-new"><h5 class="title-5">Тарифы</h5></a></span>
                <span class="footer-sticky__name"><a href="#faq-8800"><h5 class="title-5">Часто задаваемые вопросы</h5></a></span>
            </div>
        </div>
        <div class="footer-sticky-top__button">
            <a href="#" ui-sref="reservation.request" onclick="buttonReserv('FOOTER')" class="button">Подобрать номер</a>
        </div>

    </div>
</div>
<!--footer-->

<script>
    $(document).ready(function() {

        //при нажатию на любую кнопку
        $("#modal-trigger").click(function() {
            //открыть модальное окно с id="myModal"
            //            $("#myParentModel").modal('show');
            $("#myModal").modal('show');
        });

        $("#close-model").click(function() {
            stopVideo();
        });

        $(document).mouseup(function(e) {
            var container = $(".modal-backdrop.fade");
            if (container.has(e.target).length === 0) {
                $('#close-model').click();
            }
        });

        function stopVideo() {
            jQuery("iframe").each(function() {
                jQuery(this)[0].contentWindow.postMessage('{"event":"command","func":"' + 'stopVideo' + '","args":""}', '*');
            });
        }
    });
</script>



<!--<div id="myParentModel" class="myParentModel">-->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <div class="circle">
                    <button type="button" id="close-model" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>

            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body">
                <div id="cover__video-img__youtube" class="cover__video-img" style="position: absolute;">
                    <iframe id="playerid" width="100%" height="100%" src="https://www.youtube.com/embed/wfGN0ZW2Udg?enablejsapi=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!--</div>-->