<div class="m15 clearfix">
    <div class="mb1 clearfix">
        <div class="pull-left">
            <div class="label mr1" ng-hide="stat.filter.type=='callcount'">
                {{'PERIOD' | translate}}
                <div>
                    {{'FROM' | translate}}
                    <ui-datepicker ui-model="stat.filter.startDate" ui-options="dateOptions" style="width: 112px;"></ui-datepicker>
                    <ui-time ng-model="stat.filter.startDate" ng-show="stat.filter.type=='incoming_calls'" style="width: 60px;"></ui-time>
                    {{'TO' | translate}}
                    <ui-datepicker ui-model="stat.filter.endDate" ui-options="dateOptions" style="width: 112px;"></ui-datepicker>
                    <ui-time ng-model="stat.filter.endDate" ng-show="stat.filter.type=='incoming_calls'" style="width: 60px;"></ui-time>
                </div>
            </div>
            <label class="mr1" ng-hide="['incoming_calls','callcount', 'regionbreakdown'].indexOf(stat.filter.type)>=0">
                {{'SCALE' | translate}}
                <ui-combo ui-model="stat.filter.datePeriod" class="combo-box" style="width: 100px;">
                    <var></var>
                    <ul>
                        <li data-value="FIVE_MINUTE" translate>STATISTICS.DATE_PERIOD.FIVE_MINUTE</li>
                        <li data-value="FIFTEEN_MINUTE" translate>STATISTICS.DATE_PERIOD.FIFTEEN_MINUTE</li>
                        <li data-value="HALF_HOUR" translate>STATISTICS.DATE_PERIOD.HALF_HOUR</li>
                        <li data-value="ONE_HOUR" translate>STATISTICS.DATE_PERIOD.ONE_HOUR</li>
                        <li data-value="TWO_HOUR" translate>STATISTICS.DATE_PERIOD.TWO_HOUR</li>
                        <li data-value="THREE_HOUR" translate>STATISTICS.DATE_PERIOD.THREE_HOUR</li>
                        <li data-value="FOUR_HOUR" translate>STATISTICS.DATE_PERIOD.FOUR_HOUR</li>
                        <li data-value="SIX_HOUR" translate>STATISTICS.DATE_PERIOD.SIX_HOUR</li>
                        <li data-value="TWELVE_HOUR" translate>STATISTICS.DATE_PERIOD.TWELVE_HOUR</li>
                        <li data-value="ONE_DAY" translate>STATISTICS.DATE_PERIOD.ONE_DAY</li>
                        <li data-value="TWO_DAY" translate>STATISTICS.DATE_PERIOD.TWO_DAY</li>
                        <li data-value="ONE_WEEK" translate>STATISTICS.DATE_PERIOD.ONE_WEEK</li>
                        <li data-value="ONE_MONTH" translate>STATISTICS.DATE_PERIOD.ONE_MONTH</li>
                    </ul>
                </ui-combo>
            </label>
            <label ng-show="stat.filter.type=='caller'">
                Маска/номер
                <input type="text" ng-model="stat.filter.aNumberMask" style="width: 120px" />
            </label>
            <label ng-show="stat.filter.type=='destination'">
                Маска/номер
                <input type="text" ng-model="stat.filter.destNumberMask" style="width: 120px" />
            </label>
        </div>
        <div class="pull-right">
            <label class="mr05">
                {{'DATA' | translate}}
                <ui-combo ui-model="stat.filter.type" class="combo-box" style="width: 150px;">
                    <var></var>
                    <ul>
                        <li data-value="regionbreakdown" translate>STATISTICS.REGION</li>
                        <li data-value="trafficcount" translate>STATISTICS.TRAFFIC</li>
                        <li data-value="caller" translate>STATISTICS.TRAFFIC_A</li>
                        <li data-value="destination" translate>STATISTICS.ROUTING</li>
                        <li data-value="failscount" translate>STATISTICS.FAIL_CALLS</li>
                        <li data-value="incoming_calls" translate>STATISTICS.CALLS</li>
                        <li data-value="callcount" translate>Общий отчёт по сервису</li>
                    </ul>
                </ui-combo>
            </label>
            <label>
                &nbsp;
                <div>
                    <button ng-click="stat.query()" class="button active mr05" translate>SHOW</button>
                    <button ng-click="stat.query(true)" class="button active" translate>DOWNLOAD_FILE</button>
                </div>
            </label>
        </div>
    </div>
    <div>
        <table ng-if="['trafficcount', 'caller', 'destination'].indexOf(stat.filter.type)>=0" class="table hover mb1">
            <tr>
                <th translate>STATISTICS.TIME_START_PERIOD</th>
                <th class="text-right" translate>STATISTICS.NUMBER_OF_CALLS</th>
            </tr>
            <tr ng-repeat="r in stat.result">
                <td>{{r.date}}</td>
                <td class="text-right">{{r.count}}</td>
            </tr>
        </table>
        <table ng-if="stat.filter.type=='failscount'" class="table hover mb1">
            <tr>
                <th translate>STATISTICS.TIME_START</th>
                <th class="text-right" translate>STATISTICS.DENY_NUMBERS</th>
                <th class="text-right" translate>STATISTICS.INABILITY_CONNECTION</th>
                <th class="text-right" translate>STATISTICS.NON_RESPONSE_EMPLOYMENT</th>
                <th class="text-right" translate>STATISTICS.LIMIT_CLIENT</th>
                <th class="text-right" translate>STATISTICS.LIMIT_CONNECTIONS</th>
                <th>{{'STATISTICS.DENY' | translate}}<br />8-800</th>
            </tr>
            <tr ng-repeat="r in stat.result">
                <td class="nowrap">{{r.date}}</td>
                <td class="text-right">{{r.callBarred}}</td>
                <td class="text-right">{{r.callImpossible}}</td>
                <td class="text-right">{{r.callUnavailable}}</td>
                <td class="text-right">{{r.limitReached}}</td>
                <td class="text-right">{{r.outOfCapacity}}</td>
                <td class="text-right">{{r.redirectionNotAllowed}}</td>
            </tr>
        </table>
        <table ng-if="stat.filter.type=='incoming_calls'" class="table hover mb1">
            <tr>
                <th translate>STATISTICS.TIME_OF_CALL</th>
                <th class="text-right" translate>STATISTICS.CALLER_NUMBER</th>
                <th class="text-right" translate>STATISTICS.OUTGOING_NUMBER</th>
                <th class="text-right" translate>STATISTICS.DURATION</th>
                <th translate>STATISTICS.STATUS</th>
            </tr>
            <tr ng-repeat="r in stat.result">
                <td>{{r.date}}</td>
                <td class="text-right">{{r.sourceNumber}}</td>
                <td class="text-right">{{r.destinationNumber}}</td>
                <td class="text-right">{{r.durationSeconds}}</td>
                <td>{{r.status}}</td>
            </tr>
        </table>
        <table ng-if="stat.filter.type=='callcount'" class="table hover mb1">
            <tr>
                <th translate>Период</th>
                <th class="text-right" translate>Общая продолжительность вызовов в секундах</th>
                <th class="text-right" translate>Количество успешных соединений</th>
                <th class="text-right" translate>Количество вызовов</th>
            </tr>
            <tr ng-repeat="r in stat.result">
                <td>{{('STATISTICS.' + r.period) | uppercase | translate}}</td>
                <td class="text-right">{{r.duration}}</td>
                <td class="text-right">{{r.successes}}</td>
                <td class="text-right">{{r.total}}</td>
            </tr>
        </table>
        <table ng-if="stat.filter.type=='regionbreakdown'" class="table hover mb1">
            <tr>
                <th translate>Название региона</th>
                <th class="text-right" translate>Число соединений</th>
            </tr>
            <tr ng-repeat="r in stat.result">
                <td>{{r.region}}</td>
                <td class="text-right">{{r.count}}</td>
            </tr>
        </table>
        <div ng-if="!stat.result.length" class="text-center" translate>STATISTICS.LIST_EMPTY</div>
    </div>
</div>