@font-face {
	font-family "iconfont"
	src url('../iconfont/iconfont.eot')
	src url('../iconfont/iconfont.eot?#iefix') format('eot'),
		url('../iconfont/iconfont.woff') format('woff'),
		url('../iconfont/iconfont.ttf') format('truetype'),
		url('../iconfont/iconfont.svg#iconfont') format('svg')
}

icon-base-pseudo() {
	font-family "iconfont"
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	font-style normal
	font-variant normal
	font-weight normal
	text-decoration none
	text-transform none
}


	icon-check-icon($el = before) {
		&:{$el} {
			icon-base-pseudo()
			content "\E001"
		}
	}

	icon-field-check($el = before) {
		&:{$el} {
			icon-base-pseudo()
			content "\E002"
		}
	}

	icon-ic_accordion($el = before) {
		&:{$el} {
			icon-base-pseudo()
			content "\E003"
		}
	}

	icon-ic_analytics($el = before) {
		&:{$el} {
			icon-base-pseudo()
			content "\E004"
		}
	}

	icon-ic_attention($el = before) {
		&:{$el} {
			icon-base-pseudo()
			content "\E005"
		}
	}

	icon-ic_check($el = before) {
		&:{$el} {
			icon-base-pseudo()
			content "\E006"
		}
	}

	icon-ic_economy($el = before) {
		&:{$el} {
			icon-base-pseudo()
			content "\E007"
		}
	}

	icon-ic_net($el = before) {
		&:{$el} {
			icon-base-pseudo()
			content "\E008"
		}
	}

	icon-ic_regions($el = before) {
		&:{$el} {
			icon-base-pseudo()
			content "\E009"
		}
	}

	icon-ic_support($el = before) {
		&:{$el} {
			icon-base-pseudo()
			content "\E00A"
		}
	}

	icon-play($el = before) {
		&:{$el} {
			icon-base-pseudo()
			content "\E00B"
		}
	}

	icon-social-fb($el = before) {
		&:{$el} {
			icon-base-pseudo()
			content "\E00C"
		}
	}

	icon-social-gp($el = before) {
		&:{$el} {
			icon-base-pseudo()
			content "\E00D"
		}
	}

	icon-social-in($el = before) {
		&:{$el} {
			icon-base-pseudo()
			content "\E00E"
		}
	}

	icon-social-ok($el = before) {
		&:{$el} {
			icon-base-pseudo()
			content "\E00F"
		}
	}

	icon-social-tw($el = before) {
		&:{$el} {
			icon-base-pseudo()
			content "\E010"
		}
	}

	icon-social-vk($el = before) {
		&:{$el} {
			icon-base-pseudo()
			content "\E011"
		}
	}

	icon-social-yt($el = before) {
		&:{$el} {
			icon-base-pseudo()
			content "\E012"
		}
	}
