<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="8800" ui-router-styles data-ng-init="init()">
<head>
    <title>Бесплатный номер 8 800</title>
    <meta name="description" content="Услуга «8 800» увеличит количество входящих обращений в компанию. Потенциальные клиенты смогут бесплатно позвонить с городского или мобильного номера, чтобы уточнить необходимую информацию или сделать заказ.">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex" />
    <meta name="robots" content="nofollow" />

    <meta name="google-site-verification" content="OYpcAL94hXT-wULi5SgrfveSaWtHunlMDYDb5K79_lg" />

    <link rel="shortcut icon" href="/lib/public/temp/favicon/favicon-16x16.png" type="image/png">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <style type="text/css">
        .js_load.hide-block {
            display: none !important;
        }

        table.js_load {
            margin: 0 auto;
        }
    </style>

    <link rel="icon" type="image/png" href="/lib/public/temp/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/lib/public/temp/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/lib/public/temp/favicon/favicon-96x96.png" sizes="96x96">

    <link rel="apple-touch-icon" sizes="57x57" href="/lib/public/temp/touch-icon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/lib/public/temp/touch-icon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/lib/public/temp/touch-icon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/lib/public/temp/touch-icon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/lib/public/temp/touch-icon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/lib/public/temp/touch-icon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/lib/public/temp/touch-icon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/lib/public/temp/touch-icon/apple-touch-icon-152x152.png">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5JSS9KR');
    </script>
    <!-- End Google Tag Manager -->

</head>
<body ui-busy="loader">
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5JSS9KR"
                  height="0" width="0" style="display:none;visibility:hidden">

    </iframe>
</noscript>

<!-- End Google Tag Manager (noscript) -->
<!--{{$state}}-->
<div class="body-wrapper layout-table" ng-class="{hide: $state.includes('routing') || $state.includes('operators.*') || $state.includes('categories') || $state.includes('blacklist') || $state.includes('statistics') || $state.includes('settings')}" ng-cloak>
        <div class="page js_load hide-block" id="root">
            <!--<page-loader flag="isLoading"></page-loader>-->
            <!--ng-class="{login: !identify && !$state.includes('reservation'), routing: $state.includes('routing')}"-->
            <div id='landing' class="page-body" ui-view></div>
        </div>
    </div>

    <table class="js_load hide-block" ng-class="{hide: $state.includes('reservation') || $state.includes('home.*') || $state.includes('login') || $state.includes('404') }" class="body-wrapper layout-table" ng-cloak>
        <tr>
            <td ng-class="{hide: !identify || $state.includes('reservation')}" class="page-header clearfix">
                <a href="/" class="logo pull-left" translate="LOGO"></a>
                <div ng-if="identify" class="box field-icon left pull-right">
                    <var ng-bind="identify.description || identify.number"></var>
                    <i class="icon-user"></i>
                </div>
                <a href="javascript: " ng-click="logout()" ng-if="identify" class="pull-right" translate="LOGOUT"></a>
            </td>
        </tr>

        <!--<tr ng-class="{hide: !identify || $state.includes('reservation')}" class="hide">-->
            <!--<td class="page-nav page-nav-main">-->
                <!--<ul class="clearfix">-->
                    <!--<li><a ui-sref="routing" ui-sref-active="active" translate="ROUTING"></a></li>-->
                    <!--<li><a ui-sref="operators" ui-sref-active="active" translate="OPERATORS_NUMBERS"></a></li>-->
                    <!--<li><a ui-sref="categories" ui-sref-active="active" translate="CATEGORY"></a></li>-->
                    <!--<li><a ui-sref="blacklist" ui-sref-active="active" translate="BLACK"></a></li>-->
                    <!--<li><a ui-sref="statistics" ui-sref-active="active" translate="STATISTICS"></a></li>-->
                    <!--<li><a ui-sref="settings" ui-sref-active="active" translate="SETTINGS"></a></li>-->
                <!--</ul>-->
            <!--</td>-->
        <!--</tr>-->
        <!--<tr ng-class="{hide: !$state.includes('reservation')}" class="hide">-->
            <!--<td class="page-nav page-nav-main">-->
                <!--<ul class="clearfix">-->
                    <!--<li><a ui-sref="home" ui-sref-active="active" translate="PRIVATE_OFFICE"></a></li>-->
                    <!--<li><a ui-sref="reservation" ui-sref-active="active" translate="RESERVATION"></a></li>-->
                <!--</ul>-->
            <!--</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td ng-class="{routing: $state.includes('routing')}" class="page-body" ui-view></td>-->
        <!--</tr>-->

        <!--<tr ng-class="{hide: $state.includes('reservation') || $state.includes('home') || $state.includes('login') || $state.includes('/') || $state.includes('') }">-->
            <!--<td class="page-footer">© <span ng-bind="timestamp | date:'yyyy'"></span> <span translate="COPYRIGHT"></span></td>-->
        <!--</tr>-->
    </table>
    <!--<div ui-view="body"></div>-->
    <!--<div ui-notify="{autohide: 5000}" ui-model="notify"></div>-->

    <script type="text/javascript" src="lib/jquery.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular-translate.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular-translate-static.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular-animate.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular-resource-isarray.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="lib/zero-clipboard/ZeroClipboard.min.js"></script>
    <script type="text/javascript" src="lib/angular/ng-clip.min.js"></script>
    <script type="text/javascript" src="lib/ui-upload.js"></script>
    <script type="text/javascript" src="lib/angular/angular-cookies.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular-sortable-view.min.js"></script>
    <script type="text/javascript" src="lib/ui-mask/mask.js"></script>
    <script type="text/javascript" src="lib/angular-ui-router-styles-master/ui-router-styles.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/filters.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="js/directives.js"></script>
    <script type="text/javascript" src="js/ui.orm.js"></script>
    <script type="text/javascript" src="lib/public/js/script.js"></script>
    <script type="text/javascript" src="lib/public/js/inline-script.js"></script>

    <script type="text/javascript" src="lib/angucomplete-alt.js"></script>

    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<!--<script type="text/javascript">-->
    <!--location.replace("http://test.local/login");-->
<!--</script>-->

</body>
</html>
